#
# This file is configuration for TESTING
#

# This is a PDO DSN
DATABASE_URL="pgsql:host=localhost;port=5432;dbname=softech-php-challenge;user=postgres;password=amigen"
SECRET="A_COMPLETE_RANDOM_SECRET_RANDOM_GENERATED"